<!DOCTYPE html>
<html lang="fr">

<!-- HEADER -->
<head>
  <!-- Bootstrap boilerplate -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.4.1/dist/css/bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.11.0/dist/bootstrap-vue.min.css"/>
  <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=es2015%2CIntersectionObserver"></script>
  <script src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@2.11.0/dist/bootstrap-vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@2.11.0/dist/bootstrap-vue-icons.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-1.53.0.min.js"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>

  <!-- Customization -->
  <title>Application ICI</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo="> <!-- Remove favicon.ico 404 -->
  <!-- Define styles -->
  <link rel="stylesheet" href="assets/css/app_ici.css" type="text/css">
</head>


<!-- BODY -->
<body class="container-fluid">
<!-- All Vue template code has to within #app -->
<section id="app" class="row">
  <header>
    <b-navbar type="black" variant="black">
      <span onclick="window.location.href='https://x-ngilet.gitlabpages.inria.fr/html_covici/index.html'" class="logo-idm"></span>
       <b-navbar-brand>
         {{ app.title }} 
      </b-navbar-brand>
      <b-navbar-nav class="ml-auto">
        <b-nav-item :href="app.docs_url" target="_blank">Accueil</b-nav-item>
        <b-nav-item v-b-modal.about>A propos</b-nav-item>
        <b-nav-item v-b-modal.faq>Aide/FAQ</b-nav-item>
        <b-nav-item v-b-modal.propos>Equipe scientifique </b-nav-item>
        <b-nav-item href="https://github.com/NicoMaRio67P/CovICI" target="_blank">{{app.version}}</b-nav-item>
      </b-navbar-nav>
    </b-navbar>

    <!-- About modal -->
    <b-modal id="about" ok-only ok-variant="secondary" ok-title="Fermer">
      <template v-slot:modal-title>A propos de {{ app.title }}</template>
      <p> Le projet {{ app.title }} (INRIA - Collaboration - IGN) est un simulateur de propagation d’épidémie, particulièrement adapté au COVID-19, reposant sur une modélisation très détaillée d’un espace urbain et de sa population correspondante, permettant d'étudier l'effet des mesures sanitaires sur la diffusion de l'épidémie. </p>
      <p> La modélisation de l'espace géographique est réalisée à l'échelle même de l'individu, appartenant à un ménage et un habitat, fréquentant des points d'intérêts, un lieu de travail, ainsi que sur les caractéristiques démographiques des individus (type de ménage, sexe, âge) et de leurs habitudes de déplacement (trajets domicile/travail, loisirs, etc.). </p>
      <p> Afin d'avoir une représentation géographique la plus précise et la plus enrichie, de très nombreuses sources de données sont croisées (IGN, INSEE, OpenStreetMap, Agence Parisienne d'URbanisme (APUR), opérateurs mobiles, RATP, Enquêtes de déplacements, comptage de véhicules). </p>
    </b-modal>
    

    <b-modal id="quartier" size="xl"  ok-only ok-variant="secondary" ok-title="Fermer">
      <template v-slot:modal-title> Choix du quartier </template>
      <p> A ce stade du projet, nous concentrons les simulations sur les quartiers Jussieu et Saint-Victor situés dans le Vème arrondissement de Paris. Au total, 41 000 individus sont pris en compte dans la simulation parmis lesquels 5000 individus vivent et travaillent au sein même de ces deux quartiers, 1000 individus travaillent à l'extérieur des quartiers et 35000 individus viennent travailler au sein de ces quartiers. Pour en savoir plus sur l'environnement et la population :  </p>             
       <p align="center"> <iframe id="iniDataSaintVic" title="Données géographiques dans le quartier de Saint Victor - Paris 5ème" width="60%" height="500" src="./data-SaintVic.html" allow="fullscreen"></iframe></p>
    </b-modal>


    <b-modal id="sanitaire" ok-only ok-variant="secondary" ok-title="Fermer">
      <template v-slot:modal-title> Choix de la stratégie sanitaire </template>
      <p> A venir...  </p>             
    </b-modal>

    <b-modal id="faq" size="lg" ok-only ok-variant="secondary" ok-title="Fermer">
      <template v-slot:modal-title>Aide et FAQ sur l'interface graphique </template>
      <p> <b> Peut-on sauvegarder les graphes ? </b>  </p> 
      <p> Il est possible de sauvegarder les graphiques affichés à l'aide de la boîte à outil présente en haut à droite du graphique en cliquant sur le logo appareil photo. Le graphique est alors enregistré au format png.</p>            
    </b-modal>


<b-modal id="transmi" size="lg" ok-only ok-variant="secondary" ok-title="Fermer">
      <template v-slot:modal-title> Probabilité de transmission </template>
       Nous simulons les contaminations entre les individus se situant dans un même espace au même moment à l'aide de lois de probabilité de transmission propres à chaque individu, paramétrées par la distance entre un individu sain et un individu contaminé, ainsi que par la durée de contact, via la formule suivante :       
      <center> <img src="images/formule_proba.png" width=40% vertical-align="middle" /> </center>
                                     
    </b-modal>


<b-modal id="indic" size="lg" ok-only ok-variant="secondary" ok-title="Fermer">
      <template v-slot:modal-title> Choix des indicateurs épidémiologiques </template>
      <p> Différents indicateurs épidémiologiques ont été calculés pour étudier la propagation de l'épidémie au sein de la population. Plus particulièrement, nous prenons en compte les suivant : 
                            <ul> 
                              <li> <b> Nombre total de contaminés </b>: Cet indicateur détermine le nombre total d'individus qui ont été contaminés vivant et travaillant au sein de la zone géographique.  </li>
                              <li> <b> Nombre total d'individus sains </b>: Cet indicateur détermine le nombre total d'individus vivant dans la zone géographique et qui sont toujours sains  </li>
                              <li> <b> Nombre de nouvelles contaminations </b>: Cet indicateur détermine le nombre de nouvelles contaminations journalières </li> 
                              <li> <b> Nombre de nouvelles contaminations avec biais </b> : Cet indicateur détermine le nombre de nouvelles contaminations journalières en ajoutant la période d'incubation et la période de test</li>
                              <li> <b> Nombre d'individus contagieux </b> : Cet indicateur détermine le nombre total journalier d'individus contagieux</li> 
                              <li> <b> Nombre total d'individus guéris </b>:  Cet indicateur détermine le nombre total d'individus vivant dans la zone géographique qui sont guéris</li>
                              </p> 
                              </ul>            
    </b-modal>


    <!-- About Equipe scientifique -->
    <b-modal id="propos" ok-only ok-variant="secondary" ok-title="Ok">
      <template v-slot:modal-title>Equipe scientifique </template>
       <ul>
                                    <li> <b> Denis Talay </b> : Directeur de Recherche INRIA. Coordinateur du projet et REPI de l'équipe INRIA/ASCII de Saclay. Initiateur et responsable du développement du simulateur. </li>
                                    <li> <b> Maxime Colomb </b> : Post-doctorant en charge de la partie Données du simulateur. </li>
                                    <li> <b> Nicolas Gilet </b> : Ingénieur de Recherche en charge du code de calcul du simulateur. </li>
                                </ul>
                                <HR width=100% align="center">
                                <ul>    
                                    <li> <b> Aline Carneiro-Viana </b> : Directrice de Recherche INRIA SIF. Co-responsable de SafeCityMap et référent pour l’utilisation des données d’opérateurs mobiles.</li>
                                    <li> <b> Josselin Garnier </b> : Professeur et chercheur à l'Ecole Polytechnique. Référent étude de variabilité des modèles. </li>
                                    <li> <b> Sébastien Gilles </b> : Ingénieur de Recherche au SED INRIA Saclay. Appuis et conseils pour l'ingénierie du projet. </li>
                                    <li> <b> Carl Graham</b> : Chargé de Recherche CNRS à l'Ecole Polytechnique. Référent modélisation mathématique.  </li>
                                    <li> <b> Laura Grigori </b> : Directrice de Recherche à l'INRIA. Référente pour la distribution parallélisée des simulations et le High Performance Computing. </li>
                                    <li> <b> Julien Perret </b> : Directeur de Recherche à l'IGN. Responsable du développement des données spatiales. </li>
                                    <li> <b> Milica Tomasevic</b> : Chargée de Recherche CNRS à l'Ecole Polytechnique. Référente pour la modélisation et la simulation numérique. </li>
                                    <li> <b> Razvan Stanica</b> : Chargé de Recherche à l'INSA Lyon. Co-responsable de SafeCityMap et référent pour l’utilisation des données d’opérateurs mobiles.</li>
                                </ul>
    </b-modal>

    <!-- Disclaimer -->
    <b-modal id="disclaimer" ok-only ok-variant="secondary" ok-title="OK" visible>
      <template v-slot:modal-title>Attention </template>
      <p>L'application ICI est actuellement en cours de développement. Elle permet d'afficher les indicateurs épidémiologiques simulés par un prototype du modèle ICI dans le cas du COVID-19. L'utilisateur peut mettre en place des mesures sanitaires (confinement général ou individualisé). Cette plate-forme s'inspire grandement de l'application COVASIM (<a href="https://app.covasim.org/">https://app.covasim.org/</a>). Pour toute question sur les résultats du modèle ICI, veuillez nous contacter à l'adresse suivante <a href="mailto:denis.talay@inria.fr">denis.talay@inria.fr</a>.</p>
    </b-modal>

  </header>

  <div class="content" v-bind:class="{ 'sidebar-closed': !panel_open , 'sidebar-opened': panel_open}">

    <!--  Paramaters Accordion  -->
    <b-sidebar id="parameters" :visible="panel_open" v-model="panel_open" :width="panel_width+'vw'" shadow  class="sidebar" title="Choix des paramètres du modèle" bg-variant="light"> 

      <template v-slot:header-close>
        <b-button-close content="" v-b-toggle.parameters v-b-tooltip.hover.right title="Hide configuration" class="ti-angle-double-left"></b-button-close>
      </template>

      <div role="tablist">
        <!--  General Parameters -->
        <b-card no-body>
          <b-card-header header-tag="header" class="p-0 rounded-0" role="tab" header-bg-variant="dark">
            <b-button block href="#" v-b-toggle.parameters_quartier variant="link"> Choix du quartier <span class="ti-angle-up"></span> <span class="ti-angle-down"></span></b-button>
          </b-card-header>
          <b-collapse id="parameters_quartier" visible role="tabpanel">
            <b-card-body>
              <!-- Presets -->
              <div class="form-row mb-3">
                <label for="examples" class="col-12">Sélection du quartier  <b-icon v-b-modal.quartier icon="exclamation-circle-fill" variant="info"> </b-nav-item>  </label>
                <div class="col">
                  <select :disabled="running" id="examples_q" v-model="quar_init" class="form-control" aria-label="Example presets">
                    <option v-for="(item, index) in choix_quartier" :value="item">
                      {{ item }}
                    </option>
                  </select>
                  <!-- <div>Valeur : {{ quar_init }}</div> --> 
                  <b-tooltip target="examples_q">
                    Veuillez choisir un quartier
                  </b-tooltip>
                </div>
              </div>
            </b-card-body>
          </b-collapse>
        </b-card>
        
        
        <b-card no-body>
          <b-card-header header-tag="header" class="p-0 rounded-0" role="tab" header-bg-variant="dark">
            <b-button block href="#" v-b-toggle.parameters_sanitaire variant="link"> Paramètres du modèle <span class="ti-angle-up"></span> <span class="ti-angle-down"></span></b-button>
          </b-card-header>
          <b-collapse id="parameters_sanitaire" visible role="tabpanel">
            <b-card-body>
              <!-- Presets -->
              <div class="form-row mb-3">
                <label for="examples" class="col-12">Choix de la stratégie sanitaire <b-icon v-b-modal.sanitaire icon="exclamation-circle-fill" variant="info"></b-icon> </label>
                <div class="col">
                  <select id="examples_s" v-model="strat_init" class="form-control" aria-label="Example presets">
                    <option v-for="(item, index) in choix_mesure" :value="item">
                      {{ item }}
                    </option>
                  </select>
                  <b-tooltip target="examples_s">
                    Choisissez la stratégie sanitaire
                  </b-tooltip>
                 <!--  <div>Valeur : {{ strat_init }}</div> -->
                </div>
              </div>

                <div v-if="strat_init == 'Confinement global'" >

                   <div class="form-row mb-3">
                <label for="examples" class="col-12"> Durée du confinement [en jours] </label>
                <div class="col">
                  <select :disabled="running" id="examples_d" v-model="value_duree" class="form-control" aria-label="Example presets">
                    <option v-for="(item, index) in choix_duree" :value="item">
                      {{ item }}
                    </option>
                  </select>
                  <!-- <div>Valeur : {{ quar_init }}</div> --> 
                  <b-tooltip target="examples_d">
                    Veuillez choisir une durée
                  </b-tooltip>
                </div>
              </div>

               <div class="form-row mb-3">
                <label for="examples" class="col-12"> Seuil d'alerte [nouveaux cas journaliers] </label>
                <div class="col">
                  <select :disabled="running" id="examples_al" v-model="value_alerte" class="form-control" aria-label="Example presets">
                    <option v-for="(item, index) in choix_alerte" :value="item">
                      {{ item }}
                    </option>
                  </select>
                  <!-- <div>Valeur : {{ quar_init }}</div> --> 
                  <b-tooltip target="examples_al">
                    Veuillez choisir un seuil d'alerte
                  </b-tooltip>
                </div>
              </div>

                 </div> 

                     <div v-if="strat_init == 'Confinement individualisé'" >

                   <div class="form-row mb-3">
                <label for="examples" class="col-12"> Durée du confinement [en jours] </label>
                <div class="col">
                  <select :disabled="running" id="examples_d" v-model="value_duree" class="form-control" aria-label="Example presets">
                    <option v-for="(item, index) in choix_duree" :value="item">
                      {{ item }}
                    </option>
                  </select>
                  <!-- <div>Valeur : {{ quar_init }}</div> --> 
                  <b-tooltip target="examples_d">
                    Veuillez choisir une durée
                  </b-tooltip>
                </div>
              </div>

               <div class="form-row mb-3">
                <label for="examples" class="col-12"> Seuil d'alerte [nouveaux cas journaliers] </label>
                <div class="col">
                  <select :disabled="running" id="examples_al" v-model="value_alerte" class="form-control" aria-label="Example presets">
                    <option v-for="(item, index) in choix_alerte" :value="item">
                      {{ item }}
                    </option>
                  </select>
                  <!-- <div>Valeur : {{ quar_init }}</div> --> 
                  <b-tooltip target="examples_al">
                    Veuillez choisir un seuil d'alerte
                  </b-tooltip>
                </div>
              </div>

                 </div> 


            </b-card-body>
          </b-collapse>
        </b-card>
        
        <b-card no-body>
          <b-card-header header-tag="header" class="p-0 rounded-0" role="tab" header-bg-variant="dark">
            <b-button block href="#" v-b-toggle.parameters_transmi variant="link"> Paramètres épidémiologiques <span class="ti-angle-up"></span> <span class="ti-angle-down"></span></b-button>
          </b-card-header>
          <b-collapse id="parameters_transmi" visible role="tabpanel">
            <b-card-body>
              <!-- Presets -->
              <div class="form-row mb-3">
                <div class="col">
                  <label for="n_days">Probabilité de transmission <b-icon  v-b-modal.transmi icon="exclamation-circle-fill" variant="info"></b-icon> : </label>
                  <b-form-input id="ptransmi" v-model="value_ptransmi" type="range" min="0.005" max="0.9" step="0.005"></b-form-input>
                  <div class="mt-2">Valeur : {{ value_ptransmi }}</div> 
                </div>
              </div>
            </b-card-body>
          </b-collapse>
        </b-card>

       <b-card no-body>
          <b-card-header header-tag="header" class="p-0 rounded-0" role="tab" header-bg-variant="dark">
            <b-button block href="#" v-b-toggle.parameters_epi variant="link"> Les indicateurs épidémiologiques <span class="ti-angle-up"></span> <span class="ti-angle-down"></span></b-button>
          </b-card-header>
          <b-collapse id="parameters_epi" visible role="tabpanel">
            <b-card-body>
              <!-- Presets -->
              <div class="form-row mb-3">
                <label for="examples_ind" class="col-12">Choix des indicateurs épidémiologiques <b-icon v-b-modal.indic icon="exclamation-circle-fill" variant="info"></b-icon> </label>
                <div class="col">
                  <select id="examples_ind" v-model="value_indic" class="form-control" aria-label="Example presets">
                    <option v-for="(item, index) in choix_indic" :value="item">
                      {{ item }}
                    </option>
                  </select>
                  <b-tooltip target="examples_ind">
                    Choisissez l'indicateur épidémiologique à afficher
                  </b-tooltip>
                </div>
              </div>
              
                <div>
                <b-form-group label="Population :" v-slot="{ ariaDescribedby }">
                  <b-form-radio-group v-model="selected" :options="options" class="mb-3" value-field="item" text-field="name" disabled-field="notEnabled"></b-form-radio-group>
                 <!--
                 <b-form-checkbox-group id="checkbox-group-1" v-model="selected" :options="options" :aria-describedby="ariaDescribedby" name="flavour-1" disabled-field="notEnabled" ></b-form-checkbox-group> --> 
              </b-form-group>
              </div>

              <!--
               <div>
                <b-form-group label="Statut :" v-slot="{ ariaDescribedby }">
                 <b-form-checkbox-group id="checkbox-group-2" v-model="selected2" :options="options2" :aria-describedby="ariaDescribedby" name="flavour-2" disabled-field="notEnabled" ></b-form-checkbox-group>
              </b-form-group>
              </div>
              -->

               <div>
              <b-form-checkbox id="checkbox-2" v-model="barre_erreur_status" name="checkbox-2" value="accepted" unchecked-value="not_accepted">
              Afficher les barres d'erreurs  
              </b-form-checkbox> 
              <!-- <div>State: <strong>{{ barre_erreur_status }}</strong></div> --> 
              </div>

              <div>
              <b-form-checkbox id="checkbox-1" v-model="cons_graph_status" name="checkbox-1" value="accepted" unchecked-value="not_accepted">
              Superposer les graphes successifs 
              </b-form-checkbox>
              </div>

            </b-card-body>
          </b-collapse>
        </b-card>



  
      </div>


      <!-- Resize handle -->
      <div id="resize-handle"></div>

      <!-- Run Button -->
      <b-form inline class="justify-content-end py-2 px-3">
        <b-button id="run_btn" size="lg" class="btn btn-info" type="button" @click="Afficher_ICI">
          Afficher
        </b-button>
      </b-form>

      <!-- Sidebar Footer: Errors-->
      <template v-slot:footer>
        <div v-if="errs.length > 0" class="errorbox" role="tablist">
          <p>During the simulation, the following warning(s) were encountered:</p>
          <b-card v-for="(err, index) in errs" :value="err">
            <b-card-text>{{err.message}}</b-card-text>
            <pre v-if="is_debug">{{ err.exception }}</pre>
          </b-card>
        </div>
      </template>
    </b-sidebar>

    <!-- Show the actual graphs -->
    <div id="graphs" class="results" v-bind:class="{ empty: afficher_graphe === 0 }">
      <template v-if="afficher_graphe === 0">
        <p class="h5"><i>Cliquez sur "Afficher" pour rendre visible les graphiques associés aux paramètres</i></p>
      </template>
      <template v-else>
      <plotly-ici :chart="chart"></plotly-nico>

      </template>
    </div>

  </div>

</section>
</body>


<!-- SCRIPTS -->
<script src="assets/js/app_ici_v3.js" type="text/javascript"></script>

</html>