<!DOCTYPE html>
<html lang="en">


<!-- HEADER -->
<head>
  <!-- Bootstrap boilerplate -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.4.1/dist/css/bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.11.0/dist/bootstrap-vue.min.css"/>
  <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=es2015%2CIntersectionObserver"></script>
  <script src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@2.11.0/dist/bootstrap-vue.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
  <!-- Avenir is not available -->
  <!-- Customization -->
  <title>Application ICI</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo="> <!-- Remove favicon.ico 404 -->
  <script src="https://cdn.plot.ly/plotly-1.53.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.2/dist/FileSaver.min.js"></script>
  <!-- Define styles -->
  <link rel="stylesheet" href="assets/css/app_ici.css" type="text/css">
</head>





<!-- BODY -->
<body class="container-fluid">
<!-- All Vue template code has to within #app -->
<section id="app" class="row" @mousemove="resize_apply" @mouseup="resize_end">
  <header>
    <b-navbar type="black" variant="black">
      <b-navbar-brand>
        {{ app.title }}
      </b-navbar-brand>
      <b-navbar-nav class="ml-auto">
        <b-nav-item :href="app.docs_url" target="_blank">Site internet</b-nav-item>
        <b-nav-item v-b-modal.about>A propos</b-nav-item>
        <b-nav-item v-b-modal.propos>Equipe scientifique </b-nav-item>
        <b-nav-item href="https://github.com/NicoMaRio67P/CovICI" target="_blank">{{app.version}}</b-nav-item>
      </b-navbar-nav>
    </b-navbar>

    <!-- About modal -->
    <b-modal id="about" ok-only ok-variant="secondary" ok-title="Close">
      <template v-slot:modal-title>A propos de {{ app.title }}</template>
      <p> Le projet {{ app.title }} (INRIA - Collaboration - IGN) est un simulateur de propagation d’épidémie, particulièrement adapté au COVID-19, reposant sur une modélisation très détaillée d’un espace urbain et de sa population correspondante, permettant d'étudier l'effet des mesures sanitaires sur la diffusion de l'épidémie. </p>
      <p> La modélisation de l'espace géographique est réalisée à l'échelle même de l'individu, appartenant à un ménage et un habitat, fréquentant des points d'intérêts, un lieu de travail, ainsi que sur les caractéristiques démographiques des individus (type de ménage, sexe, âge) et de leurs habitudes de déplacement (trajets domicile/travail, loisirs, etc.). </p>
      <p> Afin d'avoir une représentation géographique la plus précise et la plus enrichie, de très nombreuses sources de données sont croisées (IGN, INSEE, OpenStreetMap, Agence Parisienne d'URbanisme (APUR), opérateurs mobiles, RATP, Enquêtes de déplacements, comptage de véhicules). </p>
    </b-modal>
    
    <!-- About Equipe scientifique -->
    <b-modal id="propos" ok-only ok-variant="secondary" ok-title="Ok">
      <template v-slot:modal-title>Equipe scientifique </template>
      <ul>
          <li> <b> Denis Talay </b> : Coordinateur du projet et REPI de l'équipe INRIA/ASCII. Responsable du développement du simulateur </li>
          <li> <b> Maxime Colomb </b> : Post-doctorant développant la partie Données du simulateur </li>
          <li> <b> Nicolas Gilet </b> : Ingénieur de recherche développant la partie simulateur du projet </li>
          <li> <b> Julien Perret </b> : Directeur de recherche à l'IGN. Responsable du développement des données spatiales </li>
          <li> <b> Carl Graham </b>, <b> Josselin Garnier </b> : Professeurs et chercheurs à l'Ecole Polytechnique. Référents modélisation mathématique et étude de variabilité des modèles de simulation. </li>
          <li> <b> Milica Tomasevic</b> : Chargée de recherches à l'Ecole Polytechnique. Appui sur la modélisation des données et de la simulation. </li>
          <li> <b> Sébastien Gilles </b> : Ingénieur de recherche au SED. Appuis ponctuls et conseils pour l'ingénierie du projet. </li>
          <li> <b>Laura Grigori </b> : Directrice de recherche à l'INRIA. Référente pour la distribution parallélisée des simulations et le High Performance Computing </li>
          <li> <b> Razvan Stanica </b> , <b> Aline Carneiro-Viana </b> : Chargé de recherche à l'INSA Lyon et directrice de recherche INRIA SIF. Responsables du projet SafeCityMap s'appuyant sur des données téléphoniques pour étudier les changements de comportement lors de périodes de confinement. </li>
      </ul>
    </b-modal>

    <!-- Disclaimer -->
    <b-modal id="disclaimer" ok-only ok-variant="secondary" ok-title="OK" visible>
      <template v-slot:modal-title>Attention </template>
      <p>Note: L'application Cov-ICI est actuellement en cours de développement et n'est destinée qu'à des explorations illustratives de la dynamique épidémique du COVID-19. Elle n'est pas destinée à être utilisée comme un outil de politique ou de prise de décision. Pour des informations plus détaillées sur la modélisation COVID-19, veuillez nous contacter à l'adresse suivante <a href="mailto:denis.talay@inria.fr">denis.talay@inria.fr</a>.</p>
    </b-modal>

  </header>

  <div class="content" v-bind:class="{ 'sidebar-closed': !panel_open , 'sidebar-opened': panel_open}">

    <!--  Paramaters Accordion  -->
    <b-sidebar id="parameters" :visible="panel_open" v-model="panel_open" :width="panel_width+'vw'" @shown="dispatch_resize" @hidden="dispatch_resize" shadow  class="sidebar" title="Choix des paramètres du modèle" bg-variant="light">
      <template v-slot:header-close>
        <b-button-close content="" v-b-toggle.parameters v-b-tooltip.hover.right title="Hide configuration" class="ti-angle-double-left"></b-button-close>
      </template>

      <div role="tablist">
        <!--  General Parameters -->
        <b-card no-body>
          <b-card-header header-tag="header" class="p-0 rounded-0" role="tab" header-bg-variant="dark">
            <b-button block href="#" v-b-toggle.parameters-general variant="link"> Choix du quartier <span class="ti-angle-up"></span> <span class="ti-angle-down"></span></b-button>
          </b-card-header>
          <b-collapse id="parameters-general" visible role="tabpanel">
            <b-card-body>
              <!-- Presets -->
              <div class="form-row mb-3">
                <label for="examples" class="col-12">Sélection du quartier </label>
                <div class="col">
                  <select :disabled="running" id="examples_q" v-model="reset_choice" @change="resetPars()" class="form-control" aria-label="Example presets">
                    <option v-for="(item, index) in choix_quartier" :value="item">
                      {{ item }}
                    </option>
                  </select>
                  <div>Valeur : {{ reset_choice }}</div>
                  <b-tooltip target="examples_q">
                    Veuillez choisir un quartier
                  </b-tooltip>
                </div>
              </div>
            </b-card-body>
          </b-collapse>
        </b-card>
        
        
        <b-card no-body>
          <b-card-header header-tag="header" class="p-0 rounded-0" role="tab" header-bg-variant="dark">
            <b-button block href="#" v-b-toggle.parameters-general variant="link"> Paramètres du modèle <span class="ti-angle-up"></span> <span class="ti-angle-down"></span></b-button>
          </b-card-header>
          <b-collapse id="parameters-general" visible role="tabpanel">
            <b-card-body>
              <!-- Presets -->
              <div class="form-row mb-3">
                <label for="examples" class="col-12">Choix de la stratégie sanitaire </label>
                <div class="col">
                  <select :disabled="running" id="examples" v-model="reset_quar" @change="resetPars()" class="form-control" aria-label="Example presets">
                    <option v-for="(item, index) in choix_mesure" :value="item">
                      {{ item }}
                    </option>
                  </select>
                  <b-tooltip target="examples">
                    Choisissez la stratégie sanitaire
                  </b-tooltip>
                  <div>Valeur : {{ reset_quar }}</div>
                </div>
              </div>
              
            </b-card-body>
          </b-collapse>
        </b-card>
        
        <b-card no-body>
          <b-card-header header-tag="header" class="p-0 rounded-0" role="tab" header-bg-variant="dark">
            <b-button block href="#" v-b-toggle.parameters-general variant="link"> Paramètres épidémiologiques <span class="ti-angle-up"></span> <span class="ti-angle-down"></span></b-button>
          </b-card-header>
          <b-collapse id="parameters-general" visible role="tabpanel">
            <b-card-body>
              <!-- Presets -->
              <div class="form-row mb-3">
                <div class="col">
                  <label for="n_days">Probabilité de transmission : </label>
                  <b-form-input id="n_days" v-model="value_ptransmi" type="range" min="0.005" max="0.9" step="0.005"></b-form-input>
                  <div class="mt-2">Valeur : {{ value_ptransmi }}</div>
                  <!-- <input id="n_days" type="number" :min="sim_length.min" :max="sim_length.max" :disabled="running" class="form-control" v-model.number="sim_length.best"> -->
                  <!-- <span aria-live="assertive" v-if="paramError.sim_length" class="text-danger form-error">{{paramError.sim_length}}</span>
                  <b-tooltip target="n_days">
                    {{sim_length.tip}}
                  </b-tooltip> -->
                </div>
              </div>
              <div class="form-row mb-3">
                <!--                <label for="datafile" class="col-12">Upload data</label>-->
                <!--                <div class="col">-->
                <!--                  <b-form-file id="datafile" name="datafile" accept=".csv, .xlsx" placeholder="<none>" v-model="datafile.local_path" @change="upload_datafile" :disabled="running"></b-form-file>-->
                <!--                </div>-->
                <!--                <div class="col-auto">-->
                <!--                  <button id="reset-datafile" :disabled="running" class="btn btn-primary" type="button" @click="reset_datafile">-->
                <!--                    Clear-->
                <!--                  </button>-->
                <!--                  <b-tooltip target="reset-datafile">-->
                <!--                    Remove the input data file from the simulation-->
                <!--                  </b-tooltip>-->
                <!--                </div>-->

              </div>
            </b-card-body>
          </b-collapse>
        </b-card>
      </div>





      <!-- Resize handle -->
      <div id="resize-handle" @mousedown="resize_start"></div>

      <!-- Run Button -->
      <b-form inline class="justify-content-end py-2 px-3">
        <!--<b-form-checkbox class="mr-3" v-model="show_animation">Animation</b-form-checkbox> -->
        <b-button v-if="running" variant="success" size="lg" class="btn-run green" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Running...
        </b-button>
        <b-button v-else id="run_btn" :disabled="isRunDisabled" variant="success" size="lg" class="btn-run green" type="button" @click="runSim_v2">
          Afficher
        </b-button>
      </b-form>

      <!-- Sidebar Footer: Errors-->
      <template v-slot:footer>
        <div v-if="errs.length > 0" class="errorbox" role="tablist">
          <p>During the simulation, the following warning(s) were encountered:</p>
          <b-card v-for="(err, index) in errs" :value="err">
            <b-card-text>{{err.message}}</b-card-text>
            <pre v-if="is_debug">{{ err.exception }}</pre>
          </b-card>
        </div>
      </template>
    </b-sidebar>
    <button id="open-sidebar" class="btn btn-secondary rounded-0" v-b-toggle.parameters :hidden="panel_open" v-b-tooltip.hover.right title="Open configuration">
      <span class="sr-only">Open configuration</span>
      <span class="ti-angle-double-right"></span>
    </button>

    <!-- Show the actual graphs -->
    <div id="graphs" class="results" v-bind:class="{ empty: afficher_graphe === 0 }">
      <template v-if="afficher_graphe === 0">
        <p class="h5"><i>Cliquez sur "Afficher" pour rendre visible les graphiques associés aux paramètres</i></p>
      </template>
      <template v-else>
 			<reactive-chart :chart="chart"></reactive-chart>
         <!--  <template v-for="(x, index) in result.graphs">
            <div :class="{'col-md-6': (index + 1 < result.graphs.length) || !show_animation || result.graphs.length%2 === 0, 'col-md-12': (index + 1 === result.graphs.length) && show_animation && result.graphs.length%2 === 1 }">
                
              <plotly-chart :graph="x" :key="x.id"/>
            </div>
          </template> -->

          <!-- <b>After {{ result.summary.days }} days: {{ result.summary.cases }} cases, {{ result.summary.deaths }} deaths</b> -->

          <div class="w-100 mb-1 text-center">
            <button id="download_json" class="btn btn-primary blueish" type="button" @click="downloadJson">
              <span class="sr-only">Download</span> JSON <span class="ti-download"/>
            </button>
            <b-tooltip target="download_json">
              Download results as a JSON file
            </b-tooltip>
          </div>


      </template>
    </div>

  </div>

</section>
</body>


<!-- SCRIPTS -->
<script src="assets/js/app_ici.js" type="text/javascript"></script>

</html>
s
