@charset "UTF-8";

/* Bootstrap Overrides */
html, body {
    height: 100%;
    background-color: rgba(99, 123, 158, 0.92);

}
body {
    font-family: Optima, Helvetica, Arial, sans-serif;
    background: #eee;
    background-color: rgba(0, 74, 106, 0.92);

}

fieldset > legend {
    border-bottom: 1px gainsboro solid;
}

[class*="-dark"]:not(.text-dark), [class*="-dark"]:not(.text-dark) * {
    color: rgba(255,255,255,0.8) !important;
    background-color: #111313 !important;
}

[class*="-dark"]:not(.text-dark) *:hover {
    color: rgba(255,255,255,1.0) !important;
}

.green, [class*="-success"] {
    background-color: #627F43;
    border-color: #627F43;
}

.green:hover, .green:disabled,
[class*="-success"]:hover, [class*="-success"]:disabled {
    background-color: #637f48;
    border-color: #637f48;
}

.blueish, [class*="-primary"] {
    background-color: #56779F;
    border-color: #56779F;
}

.blueish:hover, .blueish:disabled,
[class*="-primary"]:hover, [class*="-primary"]:disabled {
    border-color: rgba(99, 123, 158, 0.92);
    background-color: rgba(0, 123, 158,0.92);
}

.tabs .card-header {
    background-color: transparent;
}

.no-gutter {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.navbar-brand {
    font-size: 2.2rem;
}

.logo-idm {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("images/logo_large.png");
    width: 6%;
    height: 40px;
    vertical-align: middle;


}
.logo-idm:after {
    content: 'ICI';
    color: transparent;
    font-size: smaller;
}

/* Themify Icon Overrides*/
[class^="ti-"], [class*=" ti-"] {
    line-height: inherit;
    vertical-align: bottom;
}
/* Custom Classes */

.centered {
    text-align: center;
}

.errorbox {
    background-color: #ffcaa2;
    padding: 10px;
}

.w-fit {
    width: fit-content !important;
}

.sidebar {
    /*background-color: #F8F9FA !important; */
    background-color: rgba(0, 74, 106, 0.92);

}


/* Element Specific Styles*/
#app {
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
            "header"
            "content"
            "footer";
}
#app > header {
    grid-area: header;
}
#app > footer {
    grid-area: footer;
}

#app > footer img.logo {
    max-height: 1.5em;
}
#app > .content {
    grid-area: content;
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 100%;
    grid-template-areas:
        "sidebar results";
    max-height: 100%;
    grid-column-gap: 1em;
    justify-content: start;
    background-color: rgba(0, 74, 106, 0.92);

}

#app > .content > .sidebar {
    display: block;
    position: relative !important;
    width: initial;
    height: auto !important;
    grid-area: sidebar;
    margin: 0;
    background-color: rgba(0, 74, 106, 0.92);


}
#app > .content > .results {
    grid-area: results;
    max-height: 800px;

}

#app > .content.sidebar-closed {
    grid-template-columns: auto 1fr;
}
#app > .content.sidebar-closed > .sidebar {
    grid-area: none;
}
#app > .content > .results.empty {
    justify-self: stretch;
    align-self: center;
    text-align: center;
}
#app > .content.sidebar-closed > #open-sidebar {
    grid-area: sidebar;
}

#app > .content > .sidebar .card-header .btn-link {
    text-decoration: none;
}

#app > .content > .sidebar .card-header :not(.collapsed) [class^='ti-'][class$='-down'],
#app > .content > .sidebar .card-header .collapsed [class^='ti-'][class$='-up'] {
    display: none;
}

#parameters .b-sidebar-body {
 height: inherit;
}

#resize-handle {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1rem;
    margin-right: -.5rem;
    cursor: col-resize;
}


#run_btn {
    width: 8em;
}

#myDiv{
            height: 500px;
            width: 40%;
            position:absolute;
    }

